* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.speed {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
.speedLabel {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 80%;
  left: 25%;
  transform: translateX(-50%);
}
